
/* Imported CSS */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500|Catamaran:100,200,300,400,500,600,700,800,900');
/* End Imported CSS*/


/* Default CSS*/
body {
	font-family: Muli,Helvetica,Arial,sans-serif;
	background-color: #fff;
	overflow-x: hidden;
	font-size: 15px;
	color: #151945;
	margin: 0;
	padding: 0;
}



/* Blog CSS */
#blog {
  padding-top: 80px;
  padding-bottom: 80px;
}
.blog-detail {
  padding-top: 40px;
}
.blog-box {
  position: relative;
  background: #f4f5f8;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
  margin-bottom: 40px;
}
.blog-img {
  position: relative;
}
.blog-img img {
  max-width: 100%;
}
.blog-img-date {
  position: absolute;
  color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  background: #2ea5dc;
  top: 0;
  right: 0
}
.blog-description {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.blog-description p {
  font-size: 14px;
  color: #888;
  height: 70px;
}
.blog-box-title {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 70px;
}
.blog-box-title a {
  line-height: 1.2;
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.title-section {
  padding-bottom: 50px;
  text-align: center;
}
.title-section-main {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.title-section-main::after {
  content: '';
  width: 60px;
  height: 2px;
  background: #2ea5dc;
  position: absolute;
  opacity: 0;
  left: calc(50% - 30px);
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 1;
  bottom: 0;
}
.title-section-desc {
  font-size: 16px;
  padding-top: 15px;
  color: #666;
  max-width: 60%;
  display: block;
  margin: 0 auto;
  line-height: 1.7;
}
/* End Blog CSS*/

html,
body {
	height: 100%;
}

img {
	max-width: 200px;
	height: auto;
}

p {
	line-height: 1.7;
	margin: 0;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

input:focus,
textarea:focus,
button:focus {
	outline: medium none
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}
a:focus,
a:hover {
	text-decoration: none;
	transition: 1s;
}
.cd-headline {
  font-size: 40px;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 20px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 60px;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-weight: 700;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
/*.navbar-medisancis ul ul li.domain-ok {
  display: none;
}
*/
.none-nav {
  display: none !important;
}


/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

.thin-text {
	font-weight: 300 !important;
}

.owl-carousel {
  margin: auto;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dots .owl-dot {
  display: inline-block;
  width: 15px;
  height: 10px;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #ddd;
}
.owl-dots .owl-dot.active {
  background-color: #212529;
}
.owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.title p:nth-child(1) {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.title p:nth-child(2) {
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}
body#home-link       a#home-link,
body#portfolio-link  a#portfolio-link,
body#services-link   a#services-link,
body#about-link      a#about-link,
body#tutorial-link   a#tutorial-link {
  color: #007bff;
}
/* End Default CSS*/


/* Nav CSS */
.navbar {
  position: fixed;
  min-height: 80px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav {
  padding-right: 20px;
}
.navbar .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #151945;
  letter-spacing: .5px;
  margin: 15px 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link:hover {
  color: #2ea5dc;
}

.nav-scroll {
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.nav-scroll .icon-bar {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link:after {
  background: #222;
}
.nav-scroll .navbar-nav .navbar-brand {
  padding: 15px 0;
  color: #111;
}

.navbar-brand {
  padding: 5px 0;
  width: 100px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.navbar-brand:hover {
  color: #fff;
}
.nav-brand {
  color: #212529;
}
.nav-brand:hover {
  color: #212529;
}

.nav-contact {
  background: #007bff;
  color: #fff !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 8px 24px !important;
  border-radius: 50px;
  border: 1px solid #007bff !important;
  transition: 0.5s;
}
.nav-contact:hover {
  background: transparent !important;
  color: #007bff !important; 
}

.navbar-medisancis ul ul {
  position: absolute;
  min-width: 150px;
  background: #fff;
  border-radius: 2px;
  display: none;
  border: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.navbar-medisancis ul ul li {
  display: block;
  background: #fff;
}
.navbar-medisancis ul ul li a {
  font-size: 12px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #333;
  font-weight: 500;
}
.navbar-medisancis ul ul li a:hover {
  color: #007bff !important;
}
.navbar-medisancis ul li:hover ul {
  display: block;
}
.navbar-medisancis .dropdown-toggle::after {
  display: none;
}
.navbar-medisancis .navbar-brand {
  padding-top: 0rem;
} 


ul ul li {
  padding-bottom: 10px;
}
.menu-bahasa-ul a {
  color: #333;
}
.nav-mobile-language {
  display: none;
  float: right;
  margin-left: 120px;
}
.nav-mobile-language a {
  color: #333;
}
.navbar-medisancis .nav-mobile-language ul ul {
    position: absolute;
    min-width: 110px;
}
.nav-mobile-language img {
    border-radius: 50%;
    border: 1px solid #eaeaea;
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
.navbar-nav img {
    border-radius: 50%;
    border: 1px solid #eaeaea;
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
/* End Nav CSS */


/* Intro CSS */
#zein-intro-area {
	background: url(../img/background-compressed.png ) no-repeat center;
	background-size: cover;
  height: 100vh;
}

.caption-intro{
	padding-top: 170px;
	padding-bottom: 120px;
}
.caption-intro h4 {
	text-transform: uppercase;
	padding-bottom: 8px;
	font-weight: 300;
}
.social-intro {
	padding-top: 50px;
}
.social-intro ul li {
	display: inline-block;
}
.social-intro i {
  color: #fff;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
.social-intro i:hover {
	color: #fff;
	background: #007bff;
  transition: 1s;
}
.cta-intro {
	padding-top: 60px;
}
.cta-intro a:nth-child(1) {
	font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
	color: #fff;
	background: #2ea5dc;
	padding: 11px 35px;
	border-radius: 50px;
	border: 1px solid #2ea5dc;
  margin-right: 10px;
}
.cta-intro a:nth-child(1):hover {
	background: transparent;
	color: #2ea5dc;
	transition: 1s;
}
.cta-intro a:nth-child(2) {
  font-weight: 600;
  text-transform: capitalize;
  color: #007bff;
  letter-spacing: 1px;
  border-bottom: 1px solid #007bff;
}
.caption-intro-title {
  font-size: 45px;
}
.caption-intro-desc {
  padding-top: 35px;
}
.caption-intro-desc p {
  color: #666;
  max-width: 500px;
}
/* End Intro CSS */
.quote{
  font-size: 30pt;
  font-style: bold;
  text-align: justify;
}

.tagline{
  color: #2ea5dc;
  font-style: italic;
}

/* Features */
#features {
  padding-top: 90px;
  padding-bottom: 10px;
} 
#features .row {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.features-detail {
  padding-bottom: 40px;
}
.features-detail:hover .fa {
  color: #2ea5dc;
  background: #151945;
  transition: 1s;
}
.features-detail i {
  color: #151945;
  font-size: 40px;
  background: #fff;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  line-height: 90px;
  margin-bottom: 30px;
}
.features-detail p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.features-detail p:nth-child(3) {
  color: #748182;
}
/* End Features */


/* About */
#about {
  padding-top: 90px;
  padding-bottom: 60px;
}
#about .row {
  padding-top: 50px;
}
.about-img{
    position: relative;
    z-index: 222;
}
.about-img img {
  margin-bottom: 30px;
}
.title-section-main::after {
  content: '';
  width: 60%;
  height: 5px;
  background: #151945;
  position: absolute;
  opacity: 0;
  left: calc(50% - 30px);
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 1;
  bottom: 0;
  left:0;
}
/*.about-img:after{
    position: absolute;
    content:"";
    right: 0px;
    bottom:0px;
    width: 150px;
    height: 150px;
    background: #fff;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 20px #eee;
    box-shadow:  0px 0px 20px #eee;
}
.about-img:before{
    position: absolute;
    content:"";
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: #fff;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 20px #eee;
    box-shadow:  0px 0px 20px #eee;
}*/
.about-text {
  padding-left: 40px;
}
.about-text p:nth-child(1) {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 20px;
}
.about-text p:nth-child(2) {
  color: #748182;
}
.about-list {
  padding-top: 30px;
}
.about-list-detail {
  position: relative;
  padding-bottom: 10px;
}
.about-list-detail i {
  position: absolute;
  left: 0;
  color: #007bff;
  font-size: 20px;
  padding-top: 3px;
}
.about-list-detail p {
  padding-left: 30px;
  color: #333 !important;
}
/* End About */

@media screen and (max-width:500px){
  .hero{
    /* max-width: 500px; */
    visibility: hidden;
  }
  .img-fluid{
    width: 90%;
  } 
    .navbar-collapse {
      color:#fff;
    } 
    .navbar-collapse > ul > li{
      color: #fff;
    }
    .navbar .navbar-nav .nav-link {
      color: #fff;
    }
    .navbar{
      padding : 0.5rem 0;
    }
    .navbar-nav .nav-item:hover, .navbar-nav .nav-item:visited{
      background-color: #30a6dd;
      color: #fff;
    }
    .navbar-nav{
      background-color:#151945;
      height: 100vh;
    }
    .navbar-collapse .container {
      background-color:#fff;
    }
    .navbar.navbar-expand-md.navbar-medisancis.fixed-top {
      background-color: #fff;
    }
} 

.img-fluid{
  max-width: 500px;
}

/* Skill CSS */
#skills {
  background: #f4f5f8;
  padding-top: 70px;
  /* padding-bottom: 70px; */
}
.skills .skill-item {
  margin-bottom: 20px;
}
.skills .skill-item:last-child {
  margin-bottom: 0;
}
.skills .skill-item h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skill-item-progress {
  width: 100%;
  height: 16px;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 20px;
  position: relative;
}
.skills .skill-item-progress .progres {
  position: absolute;
  height: 100%;
  width: 10%;
  left: 0;
  top: 0;
  background: #151945;
  border-radius: 20px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.skills .skill-item-progress .progres:before {
  content: attr(data-value);
  padding: 3px 10px 2px;
  border-radius: 10px;
  font-size: 10px;
  color: #fff;
  background: #151945;
  position: absolute;
  top: -35px;
  right: 0;
}
.skills .skill-item-progress .progres:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  top: -12px;
  right: 15px;
}
/* End Skill CSS*/


/* CTA Main */
#cta-main {
	background: #d3e7ff;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
.cta-main-detail p:nth-child(1) {
	font-size: 30px;
	font-weight: 600;
  padding-bottom: 50px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.cta-main-detail a {
  font-size: 16px;
	font-weight: 600;
  color: #fff;
  background: #007bff;
  padding: 11px 40px;
  border-radius: 50px;
  border: 1px solid #007bff;
  text-transform: uppercase;
}
.cta-main-detail a:hover {
	color: #007bff;
	background: transparent;
}
/* End CTA Main */


/* Services */
#services {
  padding-top: 90px;
  padding-bottom: 40px;
  background: #fbfbfb;
}
#services .row {
  padding-top: 50px;
}
.services-detail {
  position: relative;
  margin-bottom: 50px;
  padding: 20px;
}
.services-detail i {
  position: absolute;
  left: 0;
  font-size: 32px;
  color: #007bff;
  padding-left: 10px;
}
.services-detail p {
  padding-left: 45px;
}
.services-detail p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-detail p:nth-child(3) {
  text-align: justify;
  color: #748182;
} 

.services-detail-box {
  background: #d3e7ff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
/* End Services */


/* Testimonial */
#testimonial {
  background: #f4f5f8;
  padding-top: 90px;
  padding-bottom: 60px;
} 
.carousel-testimonial {
  padding-top: 40px;
  cursor: e-resize;
}
.carousel-testimonial .box {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 900px;
}
.carousel-testimonial-img img {
  display: block;
  margin: 0 auto;
  width: 120px !important;
  border-radius: 50%;
  border: 5px solid #f3f5fb;
  box-shadow: 0 5px 10px rgba(102, 113, 228, 0.13);
}
.carousel-testimonial-name p:nth-child(1) {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 20px
}
.carousel-testimonial-name p:nth-child(2) {
  text-align: center;
  color: #748182;
  font-size: 18px;
  margin-top: -5px;
  padding-bottom: 20px;
}
.carousel-testimonial-main p {
  text-align: center;
  padding: 0 20px;
  line-height: 30px;
  color: #748182;
  font-weight: 400;
}
/* End Testimonilas*/

/* portfolio */
#portfolio {
  padding-top: 90px;
  padding-bottom: 40px;
} 
.portfolio-detail {
  padding-top: 70px;
}
.portfolio-box {
  position: relative;
  background: #f4f5f8;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
  margin-bottom: 60px;
}
.portfolio-box:hover {
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.50);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-img img {
  width: 100%;
  height: auto;
  transition: transform 1s;
}
.portfolio-box:hover .portfolio-img img {
  transform: scale(1.1);
}
.portfolio-tag {
  padding: 20px 15px;
}
.portfolio-tag a {
  font-size: 14px;
  color: #888;
}
.portfolio-tag a:nth-child(1):after {
    content: '/';
    position: relative;
    margin-left: 10px;
    margin-right: 8px;
}
.portfolio-box-title {
  padding: 0 15px;
  height: 70px;
}
.portfolio-box-title a {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}
.portfolio-cta {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 15px
}
.portfolio-cta a:nth-child(1) {
  color: #fff;
  text-transform: uppercase;
  background: #212529;
  padding: 7px 15px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #212529;
}
.portfolio-cta a:nth-child(1):hover {
  color: #212529;
  background: transparent;
}
.portfolio-cta a:nth-child(2) {
  color: #212529;
  text-transform: uppercase;
  background: transparent;
  padding: 7px 25px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #212529;
  margin-left: 5px;
}
.portfolio-cta a:nth-child(2):hover {
  color: #fff;
  background: #212529;
}
.portfolio-view-more {
  text-align: center;
  padding-top: 20px;
}
.portfolio-view-more a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: #007bff;
  padding: 11px 25px;
  border-radius: 50px;
  border: 1px solid #007bff;
  transition: 1s;
  text-transform: uppercase;
}
.portfolio-view-more a:hover {
  background: transparent;
  color: #007bff;
}
/* End portfolio*/

/* Contact */
#contact {
  padding-top: 90px;
  padding-bottom: 60px;
} 
.contact-title p {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.detail-contact {
  padding-top: 40px;
}
.detail-contact .form-control {
  margin-bottom: 15px;
  height: 50px;
  border: medium none;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
}
.detail-contact textarea.form-control {
  height: 200px;
  resize: none;
}
.detail-contact ::placeholder {
  color: #a2a1a1;
}
.detail-contact .btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #212529;
  padding: 11px 40px;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 40px;
  border: 1px solid #212529;
  transition: 1s;
  text-transform: uppercase;
}
.detail-contact .btn:hover {
  color: #212529;
  background: transparent;
}
#contact .detail-contact {
  width: 80%;
  margin: 0 auto;
}
/* End Contact*/


/* Footer */
#footer {
  background: #f4f5f8;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-detail i {
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-detail p:nth-child(2) {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.footer-detail p:nth-child(3) {
  font-weight: 300;
  letter-spacing: 1px;
}
#footer a {
  color: #151945;
}
/* End Footer */


/* Footer New */
.footer-new {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #151945;
  color: #eaeaea;
}
.footer-new-title {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 15px;
}
.footer-new-desc p{
  font-size: 14px;
  font-weight: 300;
  color: #999;
}
.footer-new-desc.fnd p{
  padding-right: 100px !important;
}
.footer-new-desc li {
  padding-bottom: 10px;
}
.footer-new-desc li a {
  color: #999;
  text-transform: capitalize;
  font-weight: 300;
  transition: 0.5s;
}
.footer-new-desc li a:hover {
  color: #2ea5dc;
}
.footer-new hr {
  margin-top: 70px;
  background: #999;
}

.footer-social-media {
  padding-top: 40px;
}
.footer-social-media-detail ul li {
  display: inline-block;
}
.footer-social-media-detail i {
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #151945;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
}
.footer-social-media-detail i:nth-child(1) {
  margin-left: 0px;
}
.footer-social-media-detail i:hover {
  background: #fff;
  color: #333;
}
/* End Footer New */

/* Copyright */
#copyright {
  background: #151945;
  color: #fff;
  margin-bottom: -50px;
}
.copyright-detail {
  padding-bottom: 20px;
}
.copyright-detail p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5;
}
.copyright-detail a {
  color: #fff;
  font-weight: 500;
}
/* End copyright */


/* Scroll Top */
.scroll-up {
  position: fixed;
  bottom: 55px;
  right: 30px;
  color: #748182;
  cursor: pointer;
  z-index: 10;
  display: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.scroll-up .top-one {
  display: block;
  height: 30px;
  margin-bottom: 5px;
  width: 1px;
  background: #748182;
  margin-left: 12px;
}
.scroll-up .top-two { 
  text-orientation: mixed;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  white-space: nowrap;
  transform: rotate(180deg);
}
.scroll-up:hover .top-two {
  color: #748182;
}
.scroll-up .top-three {
  display: block;
  height: 0px;
  margin-bottom: 5px;
  width: 1px;
  background: #212529;
  margin-left: 12px;
    
}
.scroll-up:hover .top-three {
  height: 30px;
  background: #748182;
}
.scroll-up:hover .top-one {
  height: 0px;
}

/* End Scroll Top */

/* Video */
#video {
  padding-top: 40px;
  padding-bottom: 70px;
}
.video-text {
  padding-top: 55px;
  padding-bottom: 50px;
}
.video-text p:nth-child(1) {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 20px;
}
.video-text p:nth-child(2) {
  color: #748182;
}
.video-cta a {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #007bff;
    padding: 11px 25px;
    border-radius: 50px;
    border: 1px solid #007bff;
    transition: 1s;
    text-transform: uppercase;
}
.video-cta a:hover {
  background: transparent;
  color: #007bff;
}



/**/
.yu2fvl {
    z-index: 9999;
    top: 0;
}

.yu2fvl-iframe {
  display: block;
  height: 100%;
  width: 100%;
  border: 0;
}

.yu2fvl-overlay {
  z-index: 9998;
  background: #000;
  opacity: 0.8;
}

.yu2fvl-close {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #fff;
  border: 0;
  background: none;
  cursor: pointer;
}

.video-play-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: content-box;
    color: #007bff;
    display: block;
    font-size: 40px;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin-top: 5px;
    padding: 0 0 0 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    z-index: 10;
}
.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #007bff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}
.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #007bff repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}
@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-play-button i {
    color: #fff;
    display: block;
    position: relative;
    z-index: 3;
    font-size: 25px;
    top: 15%;
    left: 15%;
}
/* End Video */


/* CTA All */
#cta-all {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.cta-all-title {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 10px; 
}
.cta-all-desc {
  color: #748182;
}
.cta-all-detail {
  padding-top: 80px;
}
.cta-all-detail-box {
  display: inline-flex;
  padding: 0 45px;
}
.cta-all-detail-box .icon {
  color: #007bff;
}
.cta-all-detail-box a i.icon {
  font-size: 70px;
  padding-bottom: 10px;
}
.cta-all-detail-box a p {
  color: #748182;
  text-transform: capitalize;
  font-weight: 600;
}
/* End CTA All */



/* =============================== Header Detail ============================ */
/* Header Detail */
.header-detail {
  background-image:  url(../img/adam_background2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.header-title {
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-title p {
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
}
/* End Header Detail */

/* Detail Template */
.detail-template {
  padding-top: 70px;
  padding-bottom: 70px;
}
.detail-template .container {
  width: 72%;
}
.detail-template-spesifikasi {
  padding-top: 40px;
}
.detail-template-spesifikasi ul {
  margin-left: 40px;
}
.detail-template-spesifikasi ul li {
  list-style-type: disc;
  color: #748182;
}
.dts-img img {
  display: block;
  margin: 0 auto;
}
.dts-img:hover img {
  opacity: 0.5;
  transition: 0.5s;
}

.dts-cta {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.dts-cta a {
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
}
.dts-cta a:nth-child(1) {
  color: #fff;
  font-size: 14px;
  background: #212529;
  padding: 8px 35px;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid #212529;
  transition: 1s;
  text-transform: uppercase;
}
.dts-cta a:nth-child(1):hover {
  background: transparent;
  color: #212529;
}
.dts-cta a:nth-child(2) {
  color: #212529;
  font-size: 14px;
  background: transparent;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: 500;
  border: 1px solid #212529;
  transition: 1s;
  text-transform: uppercase;
  font-weight: 600;
}
.dts-cta a:nth-child(2):hover {
  background: #212529;
  color: #fff; 
}
.dts-title p {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.dts-category {
  padding-bottom: 30px;
}
.dts-category p {
  color: #748182;
}
.dts-detail-text {
  text-align: justify;
}
.dts-portofolio {
  padding-top: 40px;
}
.dts-portofolio a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  color: #007bff;
}

.detail-hr .container {
  max-width: 970px;
}
/* End Detail Template*/

/* Selengkapnya */
.search-portfolio form input {
    width: 500px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding-left: 21px;
}
.search-portfolio button {
    background: transparent;
    border: transparent;
    margin-left: -45px;
}
.filter-template {
  padding-top: 20px;
}
.filter-template .btn-primary {
  border-radius: 50px;
}
.filter-template .dropdown-menu.show {
    display: block;
    margin-left: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.one-portfolio,
.multi-portfolio {
  display: none;
}
/* End Selengkapnya */


/*==========================================*/

/* Other Porfolio */
.carausel-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-detail-carausel {
  margin-left: 10px;
  margin-right: 10px;
}
.carausel-portfolio-cta {
  padding-top: 40px;
  text-align: center;
}
.carausel-portfolio-cta a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid #007bff;
}
/* End Other Portfolio */


/* ============================================= Page Services =================================== */
.page-services {
  padding-top: 80px;
  padding-bottom: 40px;
}

/* ============================================= Page About =================================== */
.page-about {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* ============================================= Page Video =================================== */
#page-video {
  padding-top: 70px;
  padding-bottom: 50px;
}
.page-video-box {
  margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.page-video-box iframe {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.page-video-box-text {
  padding: 10px;
  height: 110px;
}
.page-video-box-category {
  color: #888;
  font-size: 14px;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.page-video-box-title {
  color: #333;
  font-weight: 600;
  text-transform: capitalize;
}



.youtube-link {
  cursor: pointer;
}
.grtyoutube-popup {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:99999;
}
.grtyoutube-popup-content {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.grtyoutube-popup-close {
  position:absolute;
  top:-30px;
  right:0;
  color:#FFF;
  font-size:25px;
  width:17px;
  height:17px;
  cursor:pointer;
}
.grtyoutube-iframe {
  width:100%;
  height:100vh;
}
.grtyoutube-dark-theme{
  background: rgba(0,0,0, 0.85);
}
.grtyoutube-dark-theme .grtyoutube-popup-close {
  background: url('../img/icon-close-white.png') no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width:767px) {
  .grtyoutube-iframe {
    width:100%;
    height:240px;
  }
  .grtyoutube-popup-content {
    margin-top: 100px;
  }
  .grtyoutube-dark-theme .grtyoutube-popup-close {
    position: absolute;
    top: -25px;
    right: 10px;
  }
}



/* =============================================== Page FAQ ====================================== */
#fitur-area {
    padding: 65px 0 115px;
}
.fitur-area-detail {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

#accordion {
    margin: 30px 0 0;
}

#accordion .card {
    margin-bottom: 10px;
    border: 0
}

.card-header.active,
.card-header:hover {
    background: #007bff;
    -webkit-transition: 1s;
    transition: 1s
}

.card-body {
    border: 1px solid #eaeaea;
    font-size: 15px;
    padding-bottom: 25px;
}

.card-header {
    background-color: #f9f9f9;
    border-bottom: 0
}

.card-header.active {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header.active:after {
    content: '\f067';
    color: #fff;
    font-family: 'FontAwesome';
}

.card-header:after {
    content: '\f068';
    font-family: 'FontAwesome';
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 16px
}

.card-header h5 a {
    display: block;
    font-weight: 600;
    text-transform: capitalize;
}
.card-header a {
  color: #333;
  font-size: 17px;
}
.card-header.active h5 a,
.card-header:hover h5 a,
.card-header:hover:after {
    color: #fff
}
/*==Custom Widget Contact form WhatsApp By Codepelajar.com ==*/
div#pelajar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  opacity: 0;
  transition:.5s;
  background: rgba(0,0,0,0.5);
  }
  div#pelajar.active{
  z-index: 9999;
  opacity: 1;
  }
  div#whatsapp {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 480px;
  width: 95%;
  background: #fff;
  transform: translate(-50%,-50%);
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transition:.5s;
  }
  div#whatsapp.active {
  z-index: 999999;
  opacity: 1;
  }
  p.wa-title {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background: #2ecc71;
  color: #fff;
  }
  .wa-body {
  padding: 14px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  }
  .wa-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 32px;
  padding: 0 10px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
  }
  .wa-input.bagi {
  width: 48%;
  margin: 1%;
  margin-bottom: 10px;
  }
  .wa-input.full {
  width: 98%;
  resize: none;
  min-height: 150px;
  margin: 0 1%;
  }
  a.submit {
  line-height: 24px;
  padding: 10px 15px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  background: #2ecc71;
  margin: 14px auto 0 auto;
  display: block;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  }
  span.wa-x {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  /* background: #222; */
  border: 2px solid #fff;
  border-radius: 50px;
  cursor:pointer;
  }
  a#wa-icon {
  position: fixed;
  bottom: 70px;
  left: 20px;
  line-height: 0;
  border-radius: 30px;
  background: #2ecc71;
  padding: 0;
  height: 60px;
  width: 60px;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  /* filter: invert(100%); */
  z-index:99;
  }
  a#wa-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  span.wa-x::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 50%;
  background: #fff;
  transform: translate(-50%,-50%);
  }
  @media (max-width: 480px){
  .wa-input.bagi {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  }
  a#wa-icon {bottom:10px;left:10px;}
  .wa-input.full {
  width: 100%;
  margin: 0;
  }
  }

